.listStyle {
    list-style: none;
    display:flex;
    justify-content: center;
    width:200px;
    height:300px;
    border:1px solid black;
    margin:20px;
}

.linkStyle {
    text-decoration: none;
}

.noticeText {
    margin-top: 20px;
    //border:"1px solid black"  
}