.footer{
    min-height: 150px;
    padding: 0 5%;
    box-shadow: 0 0 10px rgba(70, 70, 70, 0.3);

    .footer-copyright{
        text-align: center;
        line-height: 150px;
        font-size: 30px;
        font-weight: lighter;
    }
}